form{
  text-align: center;
}

.buttonRow {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnClass {
  margin-left: 5px;
  margin-right: 5px;
}

.textArea {
  margin-left: 70px;
}